{% extends 'mainapp/base.html'%}
{% load static %}

{% block content %}

    <div class="container-fluid bg-primary pt-5 bg-hero">
        <div class="container pt-5">
            <div class="row justify-content-start">
                <div class="start-banner">
                    <h1 class="display-1 text-white mb-md-4 pt-5">О нас</h1>
                    <a href="{% url 'mainapp:index' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Главная</a>
                    <a href="{% url 'mainapp:contacts' %}"class="btn btn-secondary py-md-3 px-md-5">Контакты</a>
                </div>
            </div>
        </div>
    </div>
<!-- About Start -->
<div class="container-fluid bg-primary feature py-5 pb-lg-0" style="margin-bottom: 135px;">
    <div class="container py-5 pb-lg-0">
        <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
<!--            <h6 class="text-uppercase text-secondary">Features</h6>-->
            <h1 class="display-5 text-white">Почему выбирают Нас</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                         style="width: 60px; height: 60px;">
                         <i class="fa fa-award fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Победители премий</h4>
                    <p class="mb-0">Представленные Вашему
                        вниманию товары имеют премии «Выбор потребителей» и «Товар года» по версии независимых
                        потребительских опросных сервисов Чехии.</p>
                </div>
                <div class="text-white">
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                         style="width: 60px; height: 60px;">
                       <i class="fa fa-seedling fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Высококачетсвенные компоненты</h4>
                    <p class="mb-0">Товары произведены на основе формулы нового поколения из Чехии</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                    <p>
                        EurAsiaMegaStar является продолжателем традиций качества Drogeo.cz
                        работающего на рынке Чехии с 2015 года. Drogeo.cz является одним из
                        крупнейших интернет магазинов Восточной Европы и производителем высококачественной бытовой химии
                        разработанной на основе формулы нового поколения произведенной в Чехии.
                        Продуктовая линейка средств бытовой химии Drogeo.cz
                        с 2022 года так же представлена на рынке Республики Узбекистан.
                        Страной происхождения предложенных Вашему вниманию гелей для стирки белья, является Чехия.
                        Формула продуктов, защищена патентом.
                        Своей миссией команда EurAsiaMegaStar видит поставку на рынок России качественных товаров по
                        наилучшим ценам. Мы щепетильны в выборе товаров. Мы продаем то, чем пользуемся сами.
                    </p>
</div>
                    <img class="img-fluid" src="{% static 'img/about_picture.png' %}" alt="" style="margin-top: -24%;">

            </div>
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-certificate fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Сертифицировнный товар</h4>
                    <p class="mb-0">Производитель и предлагаемые товары прошли сертификацию в рамках международных стандартов ISO
                        9001:2015 / EN ISO 22716:2007</p>
                </div>
                <div class="text-white">
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3"
                         style="width: 60px; height: 60px;">
<!--                        <i class="fa-solid fa-shield-check"></i>-->
                        <i class="fa fa-lock fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Безопасно</h4>
                    <p class="mb-0">Качество и безопасность продуктовой линейки Avrile проверены в
                        рамках национальной системы сертификации Таможенного союза и имеет соответствующий сертификат.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}