{% extends 'mainapp/base.html'%}
{% load static %}

{% block content %}
<div class="videobox">
    <video autoplay loop muted src="{% static 'video/waves.mp4' %}" class="bgvideo"></video>
    <div class="overlay">
        <p>Чистота в каждой стирке</p>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 col-md-6">
                <div class="mb-3">

                    <h1 class="display-5">Качественные гели для стирки белья</h1>
                    <h6 class="text-primary text-uppercase">для бытового использования</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light text-center p-5">
                    <img src="{% static 'img/uni.png'%}" style="width: 130px; padding-bottom: 15px;">
                    <h4>Avrilé Universal</h4>
                    <p class="mb-0" style="padding-bottom: 30px;">
                        Гель для стирки универсальный, 3 л
                    </p>
                    <a href="{% url 'mainapp:first' %}" class="btn btn-secondary py-md-3 px-md-5 mb-4">Подробнее</a>
                    <a href="https://www.wildberries.ru/catalog/109375681/detail.aspx?targetUrl=LC&size=169689833"
                       target="_blank"
                       class="btn btn-primary py-md-3 px-md-5">Купить</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light text-center p-5">
                    <img src="{% static 'img/color.png'%}" style="width: 130px; padding-bottom: 15px;">
                    <h4>Avrilé Color Save</h4>
                    <p class="mb-0" style="padding-bottom: 30px;">
                        Гель для стирки цветного белья, 3 л
                    </p>
                    <a href="{% url 'mainapp:second' %}" class="btn btn-secondary py-md-3 px-md-5 mb-4">Подробнее</a>
                    <a href="https://www.wildberries.ru/catalog/109375681/detail.aspx?targetUrl=LC&size=169689833"
                       target="_blank"
                       class="btn btn-primary py-md-3 px-md-5">Купить</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light text-center p-5">
                    <img src="{% static 'img/black.png'%}" style="width: 130px; padding-bottom: 15px;">
                    <h4>Avrilé Deep Black</h4>
                    <p class="mb-0" style="padding-bottom: 30px;">
                        Гель для стирки черного белья, 3 л
                    </p>
                    <a href="{% url 'mainapp:third' %}" class="btn btn-secondary py-md-3 px-md-5 mb-4">Подробнее</a>
                    <a href="https://www.wildberries.ru/catalog/109375681/detail.aspx?targetUrl=LC&size=169689833"
                       target="_blank"
                       class="btn btn-primary py-md-3 px-md-5">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Facts Start -->
<div class="container-fluid bg-primary facts py-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3 circle-fix">
                        <i class="fa fa-info-circle fs-4 text-white"></i>
                    </div>
                    <div class="ps-4 mt-3p">
                        <h3 class="text-white"><a href="{% url 'mainapp:about' %}">О нас</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3 circle-fix">
                        <i class="fa fa-newspaper fs-4 text-white"></i>
                    </div>
                    <div class="ps-4 mt-3p">
                        <h3 class="text-white"><a href="{% url 'mainapp:news' %}">Наши новости</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3 circle-fix">
                        <i class="fa fa-sticky-note fs-4 text-white"></i>
                    </div>
                    <div class="ps-4 mt-3p">
                        <h3 class="text-white"><a href="{% url 'mainapp:docs' %}">Документы</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3 circle-fix">
                        <i class="fa fa-compass fs-4 text-white"></i>
                    </div>
                    <div class="ps-4 mt-3p">
                        <h3 class="text-white"><a href="{% url 'mainapp:contacts' %}">Контакты</a></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

{% endblock %}