{% extends 'mainapp/base.html'%}
{% load static %}

{% block content %}

    <div class="container-fluid bg-primary pt-5 bg-hero">
        <div class="container pt-5">
            <div class="row justify-content-start">
                <div class="start-banner">
                    <h1 class="display-1 text-white mb-md-4 pt-5">Новости</h1>
                    <a href="{% url 'mainapp:index' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Главная</a>
                    <a href="{% url 'mainapp:about' %}" class="btn btn-secondary py-md-3 px-md-5">О нас</a>
                </div>
            </div>
        </div>
    </div>

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Наши новости</h6>
            <h1 class="display-5">Что у нас нового</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="blog-item position-relative overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/buttle.jpg' %}" alt="">
                    <a class="blog-overlay" href="">
                        <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                        <span class="text-white fw-bold">Jan 01, 2050</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item position-relative overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/buttle.jpg' %}" alt="">
                    <a class="blog-overlay" href="">
                        <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                        <span class="text-white fw-bold">Jan 01, 2050</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item position-relative overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/buttle.jpg' %}" alt="">
                    <a class="blog-overlay" href="">
                        <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                        <span class="text-white fw-bold">Jan 01, 2050</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}